/* 
	Eric Meyer CSS Reset
	http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}body{line-height:1}table{border-collapse:separate;border-spacing:0}caption,th,td{font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}

/*
     FILE ARCHIVED ON 12:16:23 Jul 16, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:17:02 Nov 12, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.96
  exclusion.robots: 0.037
  exclusion.robots.policy: 0.016
  esindex: 0.016
  cdx.remote: 27.936
  LoadShardBlock: 97.356 (3)
  PetaboxLoader3.datanode: 128.773 (4)
  load_resource: 108.94
  PetaboxLoader3.resolve: 58.024
*/