#tt {
  position: absolute;
  display: block;
  background: url(../images/tt_left.gif) top left no-repeat;
}
#tttop {
  display: block;
  height: 5px;
  margin-left: 5px;
  background: url(../images/tt_top.gif) top right no-repeat;
  overflow: hidden;
}
#ttcont {
  display: block;
  padding: 2px 12px 3px 7px;
  margin-left: 5px;
  background: #666;
  color: #FFF;
}
#ttbot {
  display: block;
  height: 5px;
  margin-left: 5px;
  background: url(../images/tt_bottom.gif) top right no-repeat;
  overflow: hidden;
}
/*
playback timings (ms):
captures_list: 0.591
exclusion.robots: 0.041
exclusion.robots.policy: 0.03
esindex: 0.009
cdx.remote: 11.519
LoadShardBlock: 228.181 (3)
PetaboxLoader3.datanode: 236.528 (5)
load_resource: 109.039 (2)
PetaboxLoader3.resolve: 47.719
*/
