body {
	font-size: 12px;
}

.vt-postcontent {
	font-size: 16px;
}
/*
     FILE ARCHIVED ON 13:09:20 May 25, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:59:34 Nov 11, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 2.521
  exclusion.robots: 2.047
  exclusion.robots.policy: 2.036
  esindex: 0.01
  cdx.remote: 77.163
  LoadShardBlock: 147.69 (3)
  PetaboxLoader3.datanode: 197.472 (4)
  load_resource: 159.527
  PetaboxLoader3.resolve: 64.038
*/