body {
	font-size: 11px;
}

.vt-postcontent {
	font-size: 14px;
}
/*
     FILE ARCHIVED ON 13:09:20 May 25, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:59:34 Nov 11, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.433
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 11.626
  LoadShardBlock: 87.307 (3)
  PetaboxLoader3.datanode: 117.981 (4)
  load_resource: 126.588
  PetaboxLoader3.resolve: 72.16
*/