body {
	font-size: 10px;
}

.vt-postcontent {
	font-size: 12px;
}
/*
     FILE ARCHIVED ON 13:09:17 May 25, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:59:20 Nov 11, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.661
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.01
  esindex: 0.012
  cdx.remote: 10.455
  LoadShardBlock: 118.009 (3)
  PetaboxLoader3.datanode: 104.528 (4)
  load_resource: 160.201
  PetaboxLoader3.resolve: 96.091
*/